.nav-item, .navbar-nav {
    display: inline-block;
}

.nav-item {
    margin: 0 30px;
}

.blog-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px; 
}

.blog-post, .complete-post {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}

.blog-post a {
    color: #333;      
}
